@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand";
}

.navbar {
  background: #f4cbd4;
  color: black;
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar h1 a {
  margin: 10px 60px;
  cursor: pointer;
  text-decoration: none;
  color: black;
}

.navbar .links ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  width: 300px;
  margin-right: 40px;
}

.navbar .links ul li a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  cursor: pointer;
  padding: 20px;
}

.navbar .links ul li a:hover {
  background-color: #ffafc0;
}
p,
button {
  margin: 10px;
  font-weight: 400;
}

.home {
  margin-top: 50px;
  margin-left: 70px;
  padding: 20px;
}

.blog-preview {
  margin-top: 10px;
  padding: 10px 0;
  width: 90%;
  text-align: justify;
}

.blog-preview h2 {
  color: #477f65;
}

.blog-preview:hover {
  box-shadow: 2px 3px 10px #ffe9f3;
}

.blog-list h3 {
  font-size: 2em;
  color: #34634d;
  font-weight: bolder;
}

.blog-preview a {
  text-decoration: none;
}

/* create new blog form */
.create {
  max-width: 400px;
  margin: 50px auto;
  text-align: center;
}
.create label {
  text-align: left;
  display: block;
}
.create h3 {
  font-size: 25px;
  color: #f1356d;
  margin-bottom: 30px;
}
.create input,
.create textarea,
.create select {
  width: 100%;
  padding: 6px 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  box-sizing: border-box;
  display: block;
}
.create button,
.blog-details button {
  background: #f1356d;
  color: #fff;
  border: 0;
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
}
