@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Quicksand";
}

.navbar {
  background: #f4cbd4;
  color: black;
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar h1 {
  font-size: 1.6em;
  margin: 10px 40px;
  cursor: pointer;
}

.navbar .links ul {
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  width: 300px;
  margin-right: 40px;
}

.navbar .links ul li a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  cursor: pointer;
  padding: 20px;
}

.navbar .links ul li a:hover {
  background-color: #ffafc0;
}
p, button {
  margin: 10px;
  font-weight: 400;
}
