/* Text Colors */
.text-primary {
  color: #50c878;
}

.text-secondary {
  color: #067bc8;
}

/* Buttons */
.btn {
  display: inline-block;
  cursor: pointer;
  padding: 10px 30px;
  background-color: #50c878;
  color: #fff;
  border: none;
  border-radius: 5px;
}

.btn:hover {
  opacity: 0.9;
}

.btn-primary,
.bg-primary {
  background-color: #50c878;
  color: #fff;
}

.btn-secondary,
.bg-secondary {
  background-color: #067bc8;
  color: #fff;
}

.btn-dark,
.bg-dark {
  background-color: #333333;
  color: #fff;
}

.btn-light,
.bg-light {
  background-color: #dfdcdb;
  color: #000000;
}

.btn-outline {
  background: transparent;
  border: #fff 1px solid;
}
/* Flex Rows */
.flex-items {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.flex-items > div {
  padding: 20px;
}

/* Flex Columns */
.flex-column .row {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.flex-column .row-reverse {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  width: 100%;
}

.flex-column .column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1 0 400px;
}

.flex-column .column .column-1,
.flex-column .column .column-2 {
  height: 100%;
}

.flex-column .column img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.flex-column .column .column-2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 30px;
}

.flex-column p {
  text-align: justify;
  margin-bottom: 30px;
}

.flex-column h2 {
  font-size: 40px;
  font-weight: 100;
  margin-bottom: 15px;
}

.flex-column h4 {
  margin-bottom: 10px;
}

/* Cases: Images */
.section-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 30px;
}

.section-header h2 {
  font-size: 40px;
  font-weight: 100;
  margin: 20px 0;
}

.section-padding {
  padding: 20px 20px 40px;
}

.flex-grid .row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 5px;
}

.flex-grid .column {
  flex: 25%;
  max-width: 25%;
  padding: 0 5px;
}

